@media screen and  (min-width: 1000px){ 
    #container{
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 1.65%;
    
        grid-template-rows: repeat(9,1fr);
        /*grid-row-gap: 3%;*/
    
        padding:5% 2.32% 3% 2.32%;
        height:100vh;
        /*width:calc(100%-(2*2.32%));*/
        align-items: center;
        justify-items: center;
    } 

    .imgs{
        width:90%;
        height:auto;
        justify-content: center;;
    }

    .imgs img{
        width:100%;
        height:auto;
    }
    
    #img1{
        grid-column: 3/5;
        grid-row:1/3;
    }
    
    #img2{
        grid-column: 6/8;
        grid-row:2/4;
    }
    
    #img3{
        grid-column: 1/3;
        grid-row:5/7;
    }
    
    #img4{
        grid-column:4/6;
        grid-row:6/8;
    }
    
    #img5{
        grid-column:8/10;
        grid-row:8/10;
    }
    
    #img6{
        grid-column:11/13;
        grid-row:6/8;
    }
    
    #img7{
        grid-column:9/11;
        grid-row:3/5;
    }   

    .box{
        margin:0;
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        background-size:cover; 
        background-position:center center;
        transition: background-image 0.3s ease-in-out;
        z-index:-10;
    }

    .show{
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.50);
    }
    
    .box.show img { transition: opacity 220ms ease; }
}

@media screen and (max-width: 1000px){ 

    #container{
        display:grid;
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: 1.65%;
    
        grid-template-rows: repeat(12,1fr);
        grid-row-gap: 1%;
    
        padding:5% 2.32% 3% 2.32%;
        height:100vh;

        justify-items: center;
        align-items: center;

        
    }

    .imgs{
        width:90%;
        height:auto;
    }
    
    #img1{ /*FESTIVAL*/
        grid-column: 2/4;
        grid-row:2/4;
    }
    
    #img2{ /*FOTOGRAFIA*/
        grid-column: 7/9;
        grid-row:3/5;
    }
    
    #img3{ /*SA*/
        grid-column: 1/3;
        grid-row:6/8;
    }
    
    #img4{ /*COLLAGE*/
        grid-column:6/8;
        grid-row:7/9;
    }
    
    #img5{ /*FOLHA*/
        grid-column:6/8;
        grid-row:11/13;
    }
    
    #img6{ /*CLOE*/
        grid-column:3/5;
        grid-row:8/10;
    }
    
    #img7{ /*CCDM*/
        grid-column:4/6;
        grid-row:4/6;
    }   

    .box{
        margin:0;
        width:100vw;
        position:fixed;
        top:0;
        left:0;
        transition: background-image 0.3s ease-in-out;
        z-index:-10;
    }

    .show{
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.50);
        background-size:130% auto; 
        background-repeat: no-repeat;
        background-position:center center;
        background-color:var(--preto);
        height:101vh;
    }
}

#work{
    color:var(--rosa);
}

.img-wrapper {
    display: inline-block;
}
