html {
    background-color: var(--branco);
    color: var(--preto);
}

body {
    color: var(--preto);
    overflow: initial;
}

h1{
    font-size: 2.6rem;
    /*line-height: 1.8;*/
}

h2 {
    color: var(--preto);
    margin-top:48px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
}

h2:first-child{
   margin-top:0;
}

p {
    color: var(--preto);
    font-size: 1.3rem;
}

div{
    color: var(--preto);
}

li{
    color: var(--preto);
    list-style:none;
}

/*Cruz para voltar atrás*/
#back_div{
    position:fixed;
    left: 3.2%;
    z-index: 5;
}

#back_div svg{
    width:35px;
    height:35px;
}

#back_div img{
    width:100%;
}

/*conteudo total*/
#content{
    padding:6.05% 10.4%;
}

/*header cabeçalho*/
#head{
    width:100%;
    position: fixed;
    padding:4% 6% 2% 8%;
    top:0;
    left:0;
    z-index: 1;
    /*background-color: var(--branco);*/
}

#header{
    width:100%;
    display: flex;
    justify-content: space-between;
}

#nome_link{ 
    display: flex;
    gap: 28px;
    max-width: 50%;
}

#project_title{
    color: var(--preto);
    display:inline;
    /*background-color: var(--branco);*/
}

#tags_container{ 
    align-self: center;
}

#tags_container ul{
    display:flex;
    flex-direction: row;
    gap: 32px;
    align-content:flex-end;
    text-align: center;;
}

#tags_container li{
    background-color: var(--branco);
    border: 1px solid var(--preto);
    padding:8px 20px;
    border-radius: 100px;
}


/*Main content*/
#main_content{
    display: grid;
    grid-template-columns: 46% 46%;
    column-gap: 8%;
    margin-top:150px;
}

#project_images{
    align-self: center;
}

#project_images img{
    width:100%;
}

#project_images img,
#extra_images img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

#extra_images {
  margin-top: 40px; /* espaço em relação ao texto */
  display: flex;
  flex-direction: column;
  gap: 12px;
}


/*footer*/
#footer{
    margin-top:48px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

#author_names ul{
    display:flex;
    flex-direction: row;
    gap: 8px 24px;
    align-content:flex-end;
    max-width:50%;
    flex-wrap: wrap;
}

#external_link{
    background: var(--preto);
    padding:14px 14px;
    margin:10px;
    height: 54px;
    width: 54px;
    border-radius: 100px;
    position:relative;
    align-self: center;
}

#external_link:hover{
    background: var(--rosa);
    transition: all 0.5s;
}

/*#external_link img{
    transform: translateY(4px);
}*/

#back_div svg:hover{
    stroke: var(--amarelo);
}

.cursor{
    background-color: var(--preto);
}

#author_names b {
    color: var(--preto);
}

#author_names ul{
    margin-top: 10px;
}

.project-image img{
   width:auto;
}

main{
    max-height:max-content;
}

footer{
    border-top: 1.5px solid var(--preto);
    padding: 3.125% 8% 3.125% 8%;
}

#footer_content{
    width:100%;
    display:flex;
    justify-content: space-between;

}

#footer_right{
    align-items: flex-end;
}

#footer_left{
    align-items: flex-start;
}

#footer_left a{
    color: var(--preto);
    margin-left:10px;
    /*font-weight: 700;*/
}

#footer_left a:hover{
    color: var(--rosa);
}


@media screen and  (max-width: 1000px){

    #main_content{
        grid-template-columns: 1fr;
    }

    #content{
        padding-top:150px;
    }

    #project_images{
        margin-top:50px;
    }

    #header{
        display:inline;
    }
    
    #tags_container{
        margin-top: 16px;
    }

    #nome_link{
        max-width:100%;
    }
    
    #project_title{
        color: var(--preto);
        width:100%;
    }


    /*Cruz para voltar atrás*/
    #back_div{
        position:fixed;
        top: 40px;
        left: 40px;
    }
    #back_div svg{
        width:35px;
    }


}